body {
  background-color: #4f72be;
  text-align: center;
  color: white;
  font-family: Monaco, monospace;
}

.select {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.score {
  font-style: oblique;
  font-size: large;
  padding-right: 10%;
}
.button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.sound-icon{
  cursor: pointer;
  color: rgb(156, 156, 156);
}
.sound-icon:hover{
  color: white ;
}
.sound-section{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  cursor: default;
}

.tooltiptext {
  visibility: hidden;
  font-size: medium;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  /* Position the tooltip */
}
 .tooltip:hover .tooltiptext {
    visibility: visible;
}

.start-button {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  margin-top: 2%;
  line-height: 60px;
  font-weight: bold;
  padding: 0 40px;
  background: salmon;
  border: none;
  cursor: pointer;
}
.start-button:hover {
  background: lightsalmon;
}
.blue{
  background-color: #008CBA;

}
.red {
  background-color: #f44336
}

a {
  color: #fff;
}
.twitter:hover {
  color: #1da1f2;
}

a:link {
  text-decoration: none !important;
  color: black !important;
}

/* Footer */
.footer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer .footer-statement {
  font-family: circular-std-medium, Arial, sans-serif;
  font-size: 18px;
  width: 100%;
  margin: 15px auto 10px auto;
}

.footer .social-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer .social-links .social {
  background-color: #000000;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.footer .social-links .social-last {
  background-color: #000000;
  border-radius: 32px;
  width: 32px;
  height: 32px;
  margin-right: 0px;
}

.footer .social-links .social .github {
  width: 16px;
  height: 12px;
  padding: 8px 0px 10px 9px !important;
  display: flex;
}

.footer .social-links .social .twitter {
  width: 16px;
  height: 12px;
  padding: 8px 0px 10px 8.5px;
  display: flex;
}

.footer .social-links .social .linkedin {
  width: 16px;
  height: 14px;
  padding: 8px 8px 10px 8px;
}

.footer .social-links .social .github {
  width: 16px;
  height: 12px;
  padding: 10px 8px 10px 8px;
}

.footer .social-links .social-last .email {
  width: 16px;
  height: 12px;
  padding: 10px 8px 10px 8px;
}

.box.active {
  color: red;
}
